<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts :: head"> 
	</head>
	
	<body>
	
	<nav th:replace="layouts :: navbar"></nav>

		<div class="container">
			<h3>Our Products</h3>
			<hr>
			
			<!--  Add New Project Button -->
<!--			<a th:href="@{/projects/new}"
				class="btn btn-primary btn-sm mb-3"> 
				New Project 
			</a>-->
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th> Name</th>
						<th> Price</th>
					</tr>
				</thead>		
				<tbody>
					<tr th:each="aProduct : ${products}">
						<td th:text="${aProduct.name}"/>
						<td th:text="${aProduct.stage}"/>
					</tr>
				</tbody>
			
			</table>
		</div>
	</body>
	
</html>